{% extends '_base.html' %}
{% load tour_lists %}
{% block title %} Новости {% endblock %}
{% block content %}
    <h2>Новости</h2>
            {% if request.user.is_stuff or request.user.is_superuser %}
            <a href="{% url 'news_create' %}" class="rounded-button"> добавить новость</a><br>
        {% endif %}
    <br>
    <div class="review-list">
                {% for news in news_list %}
                    <div id="item">
                        <div class="d-flex">
                            <p id="author">{{ news.title }}</p>
                        </div>
                        <p id="date" >{{ news.created_date }}</p>
                        <div class="text-body"><p class="">{{ news.text|striptags|safe|truncatewords:20}}</p></div>
                        <a href="{{ news.get_absolute_url }}" class="nav-link"> Читать новость полностью </a>
                    </div>
                {% endfor %}
    </div>


<div class="pagination">
    {% if page_obj.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
        <a class="pagination-action" href="?page={{ page_obj.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a class="pagination-action" href="?page={{ page_obj.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ page_obj.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    {% endif %}
</div>
{% endblock %}