{% extends '_base.html' %}

{% block title %}О компании{% endblock title %}
{% block content %}
        <h2 class="font-weight-bold"> О компании</h2>
        <p class="text-body">Вы правильно сделали, что зашли на эту страничку. Вам нужна информация как экономично,
            качественно и комфортно отдохнуть на курортах Таиланда, Турции, Египта, Вьетнама, Китая, Индии, Испании,
            Италии, Болгарии, Туниса и Марокко. Проблема в одном: как взять максимум от этих курортов и отелей,
            насладиться отдыхом в полной мере за МАКСИМАЛЬНО низкую цену. Вам придется разбираться во всех тонкостях
            курорта и отеля – если у Вас нет настоящего туристического консультанта!</p>

        <p>Компания «Экономическое Консультационно-Внедренческое Агентство По Туризму» (ЭКВА-ТУР) работает с 22 мая
            1991 г. в г.Красноярске (зарегистрирована Решением Центрального районного Совета народных депутатов
            Исполнительным комитетом 22.05.1991 г. № 247 г.Красноярска).</p>
        <p>Компания сертифицирована туроператорами по всем основным туристическим направлениям Европы и Азии, а
            также имеет уникальный сертификат круизного специалиста.</p>
        <p>Компания «Экономическое Консультационно-Внедренческое Агентство По Туризму» (ЭКВА-ТУР) предлагает
            индивидуальные и групповые туры, плюс обеспечивает корпоративное обслуживание организаций, которые
            включают:
        </p>

        <ul c>
            <li> 4-5 – звездочные отели;</li>
            <li>встречи и проводы в аэропорту, морском порту, железнодорожном вокзале или автостанции русскоязычным
                гидом;
            </li>
            <li>экскурсии на русском языке во всех странах мира;</li>
            <li>лимузин с шофером, трансфер или аренда машины во всех странах мира;</li>
            <li>обеспечивает билетами своих клиентов на все виды транспорта:</li>

            <ul class="list-unstyled">
                <li> 1. авиаперелеты как международные, так и внутренние в стране временного пребывания;</li>
                <li>2. железнодорожные билеты как международные, так и внутренние в стране временного пребывания на
                    все виды поездов и тарифов;
                </li>
                <li>3. круизные билеты;</li>
                <li>4. билеты на паромные переправы;</li>
                <li>5. автобусные билеты по Европе и Азии.
                </li>
            </ul>
            </li>
        </ul>
    </div>
</div>
</div>

{% endblock %}