{% extends "_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>




    <form method="POST" action="{% url 'account_change_password' %}" class="login-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_oldpassword">Текущий пароль:</label>
            <input type="password" name="oldpassword" class="form-control" id="id_oldpassword"
                   placeholder="Текущий пароль">

        </div>
        <div class="form-group">
            <label for="id_password1">Новый пароль</label>
            <input type="password" name="password1" class="form-control" id="id_password1" placeholder="Новый пароль">

        </div>
        <div class="form-group">
            <label for="id_password2">Повый пароль (ещё раз)</label>
            <input type="password" name="password2" class="form-control" id="id_password2"
                   placeholder="Новый пароль (ещё раз)">

        </div>


        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <button type="submit" name="action" class="rounded-button">{% trans "Change Password" %}</button>
    </form>
{% endblock %}